body {
  background-image: url('../images/trivia-back.jpg');
  background-size: cover;
}
.trivia-display {
  background-color: rgba(0, 0, 0, 0.63);
  text-align: center; 
}
h1 {
  font-size: 2.5em;
  color: white;
}
